# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Visual Studio
/.vs/*
/static/*
/dll/*
*.sln
*.pdb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Testing files
test.*
testout.*
source/cxxdb_sheet/cxxdb_sheet.vcxproj
